<!-- =================================================================
   BREADCRUMB COMPONENT
   - A navigation component that shows the user's location in a
     site or app.
   - This component is CSS-only.
   ================================================================= -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Components</a></li>
    <li class="breadcrumb-item active" aria-current="page">Breadcrumb</li>
  </ol>
</nav>