<div class="collapsible" data-collapsible>
  <div class="flex items-center justify-between">
    <h4 class="text-sm font-semibold">@peduarte starred 3 repositories</h4>
    <button class="btn btn-ghost collapsible-trigger">
      <span class="collapsible-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
      </span>
      <span class="sr-only">Toggle</span>
    </button>
  </div>
  <div class="collapsible-content">
    <div class="mt-4 rounded-md border p-4">@radix-ui/primitives</div>
    <div class="mt-2 rounded-md border p-4">@radix-ui/colors</div>
    <div class="mt-2 rounded-md border p-4">@stitches/react</div>
  </div>
</div>