<div class="context-menu-trigger" data-context-menu-trigger="context-menu-example">
  Right-click here
</div>

<div id="context-menu-example" class="context-menu-popover">
  <div class="dropdown-content">
    <a href="#" class="dropdown-item">Back</a>
    <a href="#" class="dropdown-item" disabled>Forward</a>
    <a href="#" class="dropdown-item">Reload</a>
    <div class="dropdown-separator"></div>
    <a href="#" class="dropdown-item">Save As...</a>
    <a href="#" class="dropdown-item">Print...</a>
    <div class="dropdown-separator"></div>
    <a href="#" class="dropdown-item">Inspect</a>
  </div>
</div>