<div class="dropdown" data-dropdown>
  <button class="btn dropdown-trigger">Open Menu</button>
  <div class="dropdown-content">
    <div class="dropdown-group">
      <a href="#" class="dropdown-item">My Account</a>
      <a href="#" class="dropdown-item">Settings</a>
    </div>
    <div class="dropdown-separator"></div>
    <div class="dropdown-group">
      <a href="#" class="dropdown-item">Team</a>
      <a href="#" class="dropdown-item">New Team</a>
    </div>
    <div class="dropdown-separator"></div>
    <a href="#" class="dropdown-item">Log out</a>
  </div>
</div>