<div class="field">
  <label class="label" for="field-input-example">Email</label>
  <div class="control">
    <input class="input" type="email" id="field-input-example" placeholder="you@example.com" />
  </div>
  <p class="field-description">Please enter your email address.</p>
</div>

<div class="field">
  <label class="label" for="field-input-error">Username</label>
  <div class="control">
    <input class="input is-destructive" type="text" id="field-input-error" value="jules" />
  </div>
  <p class="field-error">This username is already taken.</p>
</div>