<div class="menubar" data-menubar>
  <div class="menubar-item" data-menubar-item>
    <button class="menubar-trigger">File</button>
    <div class="menubar-popover">
      <div class="dropdown-content">
        <a href="#" class="dropdown-item">New Tab</a>
        <a href="#" class="dropdown-item">New Window</a>
        <div class="dropdown-separator"></div>
        <a href="#" class="dropdown-item">Close Tab</a>
        <a href="#" class="dropdown-item">Close Window</a>
      </div>
    </div>
  </div>
  <div class="menubar-item" data-menubar-item>
    <button class="menubar-trigger">Edit</button>
    <div class="menubar-popover">
      <div class="dropdown-content">
        <a href="#" class="dropdown-item">Undo</a>
        <a href="#" class="dropdown-item">Redo</a>
        <div class="dropdown-separator"></div>
        <a href="#" class="dropdown-item">Cut</a>
        <a href="#" class="dropdown-item">Copy</a>
        <a href="#" class="dropdown-item">Paste</a>
      </div>
    </div>
  </div>
</div>