<!-- =================================================================
   PAGINATION COMPONENT
   - Navigation links that allow users to move through a series of
     pages.
   - This component is CSS-only.
   ================================================================= -->

<nav aria-label="pagination">
  <ul class="pagination">
    <li class="pagination-item">
      <a class="pagination-link" href="#">Previous</a>
    </li>
    <li class="pagination-item"><a class="pagination-link" href="#">1</a></li>
    <li class="pagination-item active">
      <a class="pagination-link" href="#" aria-current="page">2</a>
    </li>
    <li class="pagination-item"><a class="pagination-link" href="#">3</a></li>
    <li class="pagination-item disabled">
      <span class="pagination-link">...</span>
    </li>
    <li class="pagination-item"><a class="pagination-link" href="#">10</a></li>
    <li class="pagination-item">
      <a class="pagination-link" href="#">Next</a>
    </li>
  </ul>
</nav>