<!-- =================================================================
   TABLE COMPONENT
   - A component for displaying tabular data.
   - This component is CSS-only.
   ================================================================= -->

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John Doe</td>
      <td>CEO</td>
      <td>john.doe@example.com</td>
    </tr>
    <tr>
      <td>Jane Smith</td>
      <td>Developer</td>
      <td>jane.smith@example.com</td>
    </tr>
    <tr>
      <td>Sam Wilson</td>
      <td>Designer</td>
      <td>sam.wilson@example.com</td>
    </tr>
  </tbody>
</table>