/**
 * @file progress.css
 * @description Styles for a reusable progress bar component.
 */

 .progress {
  position: relative;
  height: 0.5rem;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
  background-color: var(--input);
}

.progress-indicator {
  height: 100%;
  width: 100%;
  flex: 1;
  background-color: var(--primary);
  transition: transform 0.66s cubic-bezier(0.65, 0, 0.35, 1);
  transform: translateX(-100%);
}
